.UserOutput{
    width: 60%;
    padding: 16px;
    margin: 20px auto;
    border: 2px solid turquoise;
    background-color: lightblue;
    text-align: center;
    border-radius: 5px;
    
}
p:first-child{
    white-space: pre;
}